/* Customize container */
@media (min-width: 768px) {
  .container {
    /*max-width: @pageMaxWidth;*/
  }
}
/* Space out content a bit */
.container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.banner {
  background-color: black;
  text-align: center;
  height: 600px;
}
.banner img {
  height: 600px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
  padding-right: 15px;
  padding-left: 15px;
}
/* Custom page header */
.header {
  padding-bottom: 20px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .page,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.navbar {
  background: rgba(0, 0, 0, 0);
}
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
}
.galleryPictureContainer {
  text-align: center;
  vertical-align: top;
  width: 160px;
}
img.carouselImage {
  text-align: center;
  width: auto;
  height: 300px;
  max-height: 300px;
}
img.galleryPicture {
  width: 100px;
  height: 100px;
}
#slide1,
#slide2,
#slide3 {
  color: white;
  height: 1000px;
}
#slide1 {
  background: url(../img/gallery/abstraits/abstrait1.jpg) center 0 no-repeat fixed;
}
#slide2 {
  background: url(../img/gallery/abstraits/1001.jpg) center 0 no-repeat fixed;
}
#slide3 {
  background: url(../img/gallery/abstraits/1002.jpg) center 0 no-repeat fixed;
}
/* Gestion du contenu */
.slide_inside {
  width: 980px;
  margin: 0 auto;
}
#slide1 .slide_inside {
  text-align: center;
}
#slide2 .slide_inside p {
  width: 500px;
  text-align: justify;
}
#slide3 .slide_inside {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  padding: 50px;
}
